ul {
  list-style-type: none;
}

.center {
  display: flex; justify-content: center; align-items: center;
}

.quote-list {
  width: 100%;  /* Default width */
  max-width: 1000px; /* Makes sure the element doesn't exceed the parent container */
  min-width: 100px; /* Allows it to shrink to a smaller size if needed */
}

.error-message {
  background: coral;
  font-size: 20pt;
  max-width: 1000px;
  border-radius: 20px;
  padding: 20px;
  font-family: Calibri, serif;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

button {
  width: 360px;
  border: none;
  border-radius: 20px;
  padding: 20px;
  font-size: 15pt;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

button:hover {
  background: #fdfdfd;
  transition: 0.2s;
}

.card {
  background: white;
  border-radius: 20px;
  border-color: black;
  display: flex;
  margin: 40px 40px auto auto;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
  transition: 3s;
}

.quote {
  margin: 30px;
  font-style: italic;
  font-family: Calibri, serif;
  font-size: 19pt;
  color: #2d2d2d;
}

.character-name {
  margin: 30px;
  font-size: 15pt;
  color: #505050;
}

.right {
  justify-content: flex-end;
}

.left {
  justify-content: flex-start;
}

.character-image {
  background: white;
  display: flex;
  border-radius: 20px 20px 20px 20px;
}

.loader {
  margin: 20px;
  width: 100px;
  height: 100px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
